extends _layout

block vars

block content
    .container
        .page-header
            h1 カルーセル
        .row
            for caption, id in {'carousel-example-generic': false, 'carousel-example-generic2': true}
                .col-lg-6
                    h2
                        |キャプション
                        if caption
                            |あり
                        else
                            |なし
                    .carousel.slide(id='#{id}', data-ride='carousel')
                        ol.carousel-indicators
                            for active, index in [true, false, false]
                                if active
                                    li.active(data-target='##{id}' data-slide-to='#{index}')
                                else
                                    li(data-target='##{id}' data-slide-to='#{index}')
                        .carousel-inner(role='listbox')
                            for item in carousels
                                div(class='item #{item.active}')
                                    img(src='#{item.url}' alt='#item.alt')
                                    if caption
                                        .carousel-caption
                                            h3=item.alt
                                            p=item.caption
                        a.left.carousel-control(href='##{id}' role='button' data-slide='prev')
                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                            span.sr-only 戻る
                        a.right.carousel-control(href='##{id}' role='button' data-slide='next')
                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                            span.sr-only 進む
