extends _layout

block vars

block content
    .container
        .page-header
            h1 リストグループ
        .row
            .col-sm-4
                ul.list-group
                    for item in lists
                        li.list-group-item=item.title
            .col-sm-4
                .list-group
                    for item in lists
                        if item.active
                            a.list-group-item.active(href='#')=item.title
                        else
                            a.list-group-item(href='#')=item.title
            .col-sm-4
                .list-group
                    for item in lists
                        if item.active
                            a.list-group-item.active(href='#')
                                h4.list-group-item-heading=item.title
                                p.list-grou-item-text=item.body
                        else
                            a.list-group-item(href='#')
                                h4.list-group-item-heading=item.title
                                p.list-grou-item-text=item.body

        .page-header
            h1 メディアリスト
        .row
            AAA bbb ccc